{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}
{% block content %}

<div id="app">
 	<blog-list></blog-list>
</div>
<div id="app1">
	<first-component></first-component>
	<second-component></second-component>
</div>	



{% endblock %}