{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}
{% block content %}



<h1 class="title">Testimonials</h1>

<div id="slide__glide">
		<div data-glide-el="track">
			<ul class="testimon__list">
				<li is="item" 
					v-for="review in slides"
					v-bind:key="review.id"
					v-bind:review="review"
				></li>
			</ul> 
		</div>
	</div>

{% endblock %}