@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'vendor/libs';
@import 'base/fonts';
@import 'base/general';
@import '../blocks/components/components';
@import '../blocks/modules/modules';
.list {
    display: flex;
}

.to_do_list {
    text-align: center;
    padding: 20px;
    margin: 70px;
    min-height: 100px;
    box-shadow: 5px 5px 4px 5px rgba(10, 10, 10, 0.507);
}

.list {
    display: flex;
    justify-content: center;
}

.list__affair {
    display: flex;
    align-items: center;
    min-width: 500px;
    box-shadow: 1px 1px 1px 1px rgba(117, 0, 0, 0.589);
}

.list__btn {
    font-size: 17px;
    padding: 10px;
    margin: 5px;
    min-width: 100px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(117, 0, 0, 0.589);
}

.list__inp {
    padding: 10px;
}

.list__empty {
    color: red;
    margin: 20px;
    padding: 5px;
    background-color: rgba(182, 165, 165, 0.315);
    box-shadow: 1px 6px 7px 1px rgba(59, 40, 40, 0.507);
}

.h {
    display: flex;
    padding: 5px;
    // padding-top: .4rem;
    // color: #EF5753;
    // font-size: 2rem;
    // transition-duration: .5s;
}

.list__affair,
.button__affair {
    padding: 5px;
}

.random {
    font-size: 50px;
}