* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-size: 45px;
    padding: 70px;
    text-align: center;
}

.testimonial__title {
    font-size: 30px;
    padding: 50px;
}

.testimonial__description {
    // font-style: 30px;
    text-align: center;
}

.testimon__list {
    display: flex;
}

.test_icon {
    width: 100px;
    height: 100px;
    box-sizing: content-box;
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    right: 50%;
    transform: translateX(50%);
    top: -15%;
}

.section {
    position: relative;
    min-height: 300px;
    padding: 50px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.section:hover {
    color: white;
    background-color: #3EADEC;
    transform: scale(1.01);
    // opacity: 1;
}

.testimon__list:hover .section {
    opacity: 0.3;
}

.testimon__list .section:hover {
    opacity: 1;
}